
.footer{
  background-color: #0c213c;
  color:white;
  padding-top: 30px;
  clear:both;
}
.footer .row{
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.footerTitle{
  font-size: 2em;
  font-weight: bold;
  columns: white;
}

.footerIconList{
  margin-top: 20px;
  text-align: center;
}

.footerIcon{
  font-size: 3em;
  color:white;
  margin-left: 10px;
  margin-right: 10px;
}

.footerDestImage{
  width: 100%;
  height: 200px;
  background-color: gray;
}